body {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,209,255,1) 50%, rgba(9,9,121,1) 100%);
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
  }

  p {
    position: relative;
    top: 300px;
    color: white;
}
#container {
    width: 35%;
    height: 500px;
    margin: 30px auto;
    text-align: center;

}